/* leftside */
.leftside{
    background-image: linear-gradient(#efc81ac1, #efc81a89),url(/assets/images/image15.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* rightside */

.title{
    font-family: airbnb;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #EFC81A;

}

.sub-title{
    font-family: airbnb;
    text-align: center;
    font-size: 18px;
    text-align: center;
    color: #8692A6;
    margin: 30px !important;
}

.line{
    margin-top: 50px !important;
}

.email{
    font-family: airbnb;
    margin-top:10px;
    margin-bottom: 13px;
    color: #696F79;
    font-weight: normal;
    font-size: 16px;

}


#inputEmail:focus {
    outline: none !important;
    border: 1px solid #efc81a;
    box-shadow: 0 0 10px #719ece;
}


.btn-email{
    background-color: #EFC81A !important;
    color: white !important;
    margin-top: 24px;
}

.btn-email:hover{
    background-color: #EFC81A !important;
    color: white !important;
}

.btn-email:focus{
    outline: none !important;
    border: 1px solid #efc81a;
    box-shadow: 0 0 10px #719ece;
}

form div button a {
    text-decoration: none;
    color: white !important;
}
form div p a{
    text-decoration: none;
    color: #EFC81A !important;
}
form div a{
    text-decoration: none;
    color: #9b9898 !important;
}


@media (max-width: 640px ){
    .leftside{height: 100px;}
    .logo{height: 100%;}
}